body {
    background-color: #94A1DB;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    color: #232C33;
    text-align: center;
};


.question {
    text-align: center;
    font-size: 42px;
    color: #232C33;
}


 .answer-button, .next-button {
    color: #232C33;
    font-size: 14pxpx;
    text-align: center;
    background-color: #DCD6F7;
    padding: 15px;
    border-radius: 20px;
};
