h1 {
    font-family: 'Anonymous Pro', monospace;
    color: #232C33;
    text-align: center;
};


.answer-button {
    font-family: 'Poppins', sans-serif;
    color: #232C33;
    font-size: 28px;
    text-align: center;
};
